@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply flex w-full h-full;
  background: #093480;
}
body {
  @apply w-full h-full overflow-hidden text-white;
  background: linear-gradient(
      180deg,
      #ffffff 0%,
      #6db68a 19%,
      #599c88 28%,
      #4f8f87 37%,
      #458286 46%,
      #3b7585 55%,
      #316884 64%,
      #275b83 73%,
      #1d4e82 82%,
      #134181 92%,
      #093480 100%
    )
    no-repeat;
}
* {
  @apply font-sans antialiased;
}

.no-arrow::-webkit-outer-spin-button,
.no-arrow::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.no-arrow {
  -moz-appearance: textfield;
}

.button-halo {
  animation: button-pulse 2s infinite;
}

@keyframes button-pulse {
  0% {
    border: 2px solid #000000;
    box-shadow: 0 0 10px #000000;
  }
  50% {
    border: 1px solid #000000;
    box-shadow: 0 0 0px #000000;
  }
  100% {
    border: 2px solid #000000;
    box-shadow: 0 0 10px #000000;
  }
}

.loading-button::before {
  position: absolute;
  content: '';
  top: 5px;
  left: -20px;
  width: 150%;
  height: 70%;
  background: #ffffff;
  z-index: -1;
  transform: rotate(45deg);
  animation: loading 3s linear infinite;
}

@keyframes loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
