@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply flex w-full h-full;
  background: #093480;
}
body {
  @apply w-full h-full overflow-hidden text-white;
  background: linear-gradient(
      180deg,
      #cccccc 0%,
      #6db68a 10%,
      #599c88 20%,
      #4f8f87 30%,
      #458286 40%,
      #3b7585 50%,
      #316884 60%,
      #275b83 70%,
      #1d4e82 80%,
      #134181 90%,
      #093480 100%
    )
    no-repeat;
}
* {
  @apply font-sans antialiased;
}

.manual-y-center::before,
.manual-y-center::after {
  content: '';
  margin: auto;
}

.halo-text {
  text-shadow: 0 0 10px #00ffff;
}

.halo-button {
  animation: button-pulse 2s infinite;
}
