@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply flex w-full h-full;
  background: #093480;
}
body {
  @apply w-full h-full overflow-hidden text-white;
  background: linear-gradient(
      180deg,
      #ffffff 0%,
      #6db68a 19%,
      #599c88 28%,
      #4f8f87 37%,
      #458286 46%,
      #3b7585 55%,
      #316884 64%,
      #275b83 73%,
      #1d4e82 82%,
      #134181 92%,
      #093480 100%
    )
    no-repeat;
}
* {
  @apply font-sans antialiased;
}

.no-arrow::-webkit-outer-spin-button,
.no-arrow::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.no-arrow {
  -moz-appearance: textfield;
}

.button-halo {
  animation: button-pulse 2s infinite;
}
